.reveal .controls,
.reveal a,
.reveal .progress {
    color: #99CC00;
}
.reveal a:hover {
    color: #6ECB37;
}

.reveal section h2 img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal .fs12 pre {
    font-size: 0.33em;
}

.reveal .list14 ul {
    font-size: 0.7em;
}
.reveal .list14 ul li {
    margin-bottom: 20px;;
}
